@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');body,html {
    font-size: 16px;
}
body {
    font-family: 'Space Mono', monospace;
}
p {
    font-size: 1rem;
}
a {
    font-size: 1rem;
}